/target

external/hermesVMRuntime.*
external/hermesVMRuntimeLean.*
external/hermesAST.*
external/hermesHBCBackend.*
external/hermesHBCBackendLean.*
external/hermesBackend.*
external/hermesOptimizer.*
external/hermesFrontend.*
external/hermesParser.*
external/hermesSupport.*
external/dtoa.*
external/hermesSourceMap.*
external/hermesADT.*
external/hermesInst.*
external/hermesFrontEndDefs.*
external/hermesRegex.*
external/hermesPlatform.*
external/hermesInternalBytecode.*
external/hermesPublic.*
external/hermesInstrumentation.*
external/hermesPlatformUnicode.*
external/LLVHSupport.*
external/LLVHDemangle.*
external/hermesc.*
external/include/hermes/
external/include/llvh/
external/include/llvh-c/
external/include/unicode/
external/include/caml/
external/include/flowparser/